/* Hero */

.hero{

min-height:100vh;

display:flex;

justify-content:space-between;

align-items:center;

padding:120px 10% 80px;

gap:60px;

}

.hero-content{

flex:1;

}

.hero-content h4{

color:#38bdf8;

font-size:20px;

margin-bottom:10px;

}

.hero-content h1{

font-size:60px;

margin-bottom:20px;

}

.subtitle{

font-size:25px;

color:#94a3b8;

margin-bottom:20px;

}

.hero-description{

font-size:17px;

line-height:1.8;

max-width:650px;

margin-bottom:35px;

}

.hero-buttons{

margin-top:30px;

}

/* Profile Card */

.hero-image{

flex:1;

display:flex;

justify-content:center;

}

.profile-card{

width:330px;

background:#1e293b;

padding:35px;

border-radius:20px;

text-align:center;

box-shadow:0 20px 40px rgba(0,0,0,.3);

transition:.3s;

}

.profile-card:hover{

transform:translateY(-10px);

}

.profile-icon{

font-size:70px;

color:#38bdf8;

margin-bottom:25px;

}

.profile-card h3{

margin-bottom:25px;

}

.profile-card p{

margin:10px 0;

color:#cbd5e1;

}

/* Skills */

.quick-skills{

padding:90px 0;

background:#111827;

}

.quick-skills .container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(170px,1fr));

gap:25px;

}

.skill-card{

background:#1e293b;

padding:35px;

border-radius:12px;

text-align:center;

transition:.3s;

}

.skill-card:hover{

transform:translateY(-8px);

}

.skill-card i{

font-size:45px;

color:#38bdf8;

margin-bottom:20px;

}

/* Why Me */

.why-me{

padding:100px 0;

}

.why-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}

.why-card{

background:#1e293b;

padding:40px;

border-radius:15px;

text-align:center;

transition:.3s;

}

.why-card:hover{

transform:translateY(-8px);

}

.why-card i{

font-size:50px;

color:#38bdf8;

margin-bottom:20px;

}

.why-card h3{

margin-bottom:15px;

}

/* CTA */

.home-contact{

padding:100px 20px;

background:#111827;

text-align:center;

}

.home-contact h2{

font-size:40px;

margin-bottom:20px;

}

.home-contact p{

max-width:700px;

margin:auto;

margin-bottom:40px;

color:#cbd5e1;

}

.home-buttons{

display:flex;

justify-content:center;

flex-wrap:wrap;

}

/* Responsive */

@media(max-width:992px){

.hero{

flex-direction:column;

text-align:center;

padding-top:150px;

}

.hero-content h1{

font-size:45px;

}

.subtitle{

font-size:20px;

}

.profile-card{

width:100%;

max-width:350px;

}

}

@media(max-width:600px){

.hero-content h1{

font-size:36px;

}

.section-title{

font-size:28px;

}

.home-contact h2{

font-size:30px;

}

}